<!--The content below is only a placeholder and can be replaced.-->
<div class="container app">

    <div class="row">
        <div class="col-sm-8">
            <h1 class="text-center">
                {{ title }}
            </h1>

        </div>

        <div class="col-sm-4">
            <div class="alert alert-success alert-dismisable" *ngIf="msg">
                <a href="#" class="close" (click)="closeAlert()">&times;</a> {{msg}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                class="img-responsive">

        </div>

        <div class="col-sm-8">
            <h2>Create Data:</h2>
            <form action="" class="form">
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name:</label>
                    <div class="col-10">
                        <input type="text" name="name" [(ngModel)]="model.name" id="name" class="form-control" placeholder="Enter a new name" aria-describedby="helpId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Email:</label>
                    <div class="col-10">
                        <input type="text" name="email" [(ngModel)]="model.email" id="email" class="form-control" placeholder="Enter a new email" aria-describedby="helpId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Position:</label>
                    <div class="col-10">
                        <input type="text" name="position" [(ngModel)]="model.position" id="position" class="form-control" placeholder="Enter a new position" aria-describedby="helpId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 offset-2">
                        <button type="submit" class="btn btn-success" (click)="addEmployee()">
                          Save data
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h2>Read Data</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let employee of employees; let i=index">
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.position}}</td>
                        <td>
                            <a class="btn btn-success" (click)="editEmployee(i)">Edit</a>
                            <a class="btn btn-danger" (click)="deleteEmployee(i)">Delete</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-sm-4" [hidden]="hideUpdate">
            <form action="" class="form">
                <h2>Update data</h2>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name:</label>
                    <div class="col-10">
                        <input type="text" name="name" [(ngModel)]="model2.name" id="name" class="form-control" placeholder="Enter a new name" aria-describedby="helpId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Email:</label>
                    <div class="col-10">
                        <input type="text" name="email" [(ngModel)]="model2.email" id="email" class="form-control" placeholder="Enter a new email" aria-describedby="helpId">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-2 col-form-label">Position:</label>
                    <div class="col-10">
                        <input type="text" name="position" [(ngModel)]="model2.position" id="position" class="form-control" placeholder="Enter a new position" aria-describedby="helpId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 offset-2">
                        <button type="submit" class="btn btn-success" (click)="updateEmployee(i)">
                          Save data
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>