body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02aab0+0,00cdac+100 */
    background: #02aab0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #02aab0 0%, #00cdac 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #02aab0 0%, #00cdac 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #02aab0 0%, #00cdac 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#02aab0', endColorstr='#00cdac', GradientType=1);
    /* IE6-9 */
}

label {
    font-weight: bold;
}